
<ul>
    <li>@ViewBag.integrante.GetNombre()</li>
    <li>@ViewBag.integrante.GetDNI()</li>
    <li>@ViewBag.integrante.GetFoto()</li>
    <li>@ViewBag.integrante.GetFecha()</li>
    <li>@ViewBag.integrante.GetFamiliares()</li>
    foreach
    <li>@ViewBag.integrante.GetIntereses()</li>
    foreach
